body {
    background-color: #f4f4f4;
    text-transform: uppercase;   
}

body, input, select, textarea {
    color: #646464;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 400;
}

h1, h2, h3 {
    color: #646464;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.75;
}

footer a{
    color: #aaaaaa;
    font-size: 10pt;
}

footer ul > li {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 2px;
    padding-left: 2px;
}

footer ul > li > a{
    display: inline-flex;
    vertical-align: middle;
}

footer ul > li > a >span{
    padding-top: 5px;
}
.container {
    margin-top: 1.5em;
}

.section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logo {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    text-transform: uppercase;   
}

.logo:before {
    transition: color 0.2s ease;
 }

.logo:hover {
    background-color: transparent;
    color: #996633;
}


.logo-span {
    border: none;
}

nav {
    background-color: white;
    border-bottom:  1px solid rgba(160, 160, 160, 0.3);
    box-shadow: none;
}

nav a {
    color: #3c3b3b;
 }

@media only screen and (max-width:1860px) {
    #nav-mobile{
        display: none;
    }

    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 1450px) {
    .mobile-button {
        display: none;
    }
}

nav ul li a{
   color: #3c3b3b;
   letter-spacing: 0.25em;
   text-transform: uppercase;
}

nav ul li a span {
    padding-right: 1.5em;
    border-right: 1px solid rgba(160, 160, 160, 0.3);
}

nav ul li a.logo {
    padding-right: 1em;
    border-right: 1px solid rgba(160, 160, 160, 0.3);
}

nav ul li a span.logo {
    border-right: none;
}

ul li a:before {
    transition: color 0.2s ease;
 }

ul li a:hover {
    background-color: transparent;
    color: #996633;
 }

i.material-icon:hover {
    background-color: transparent;
    color: #996633;
}

.sidebar-trigger i {
    color: rgba(160, 160, 160, 0.3);
}

div.sidebar ul > :first-child {
    padding-top: 1em;
}

.small-chart {
	margin: 0;
	padding: 0;
    bottom: 0;
    width: 100%;
	height: 500px;
    display: flex;
}

.chart {
	height: 700px;
}

div.dash {
    background-color: white;
    border: 1px solid rgba(160, 160, 160, 0.3);
}

div.card {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

div.card-image {
    border: none;
}

.panel-header {
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

.table-header {
    text-transform: uppercase;
    font-weight: 600;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #3c3b3b !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #996633 !important;
  }

a.more_info {
    border: 1px solid rgba(160, 160, 160, 0.3);
    font-weight: 700;
}

a.more_info:hover {
    border: 1px solid #996633;
    background-color: #f4f4f4;
    color: #996633;
}

span.card-subtitle {
    font-size: .75em;
    letter-spacing: 0.25em;
}

footer > span {
    font-size: 7pt;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #aaaaaa;
}

footer > span > a {
    font-size: 7pt;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-decoration: underline dotted ;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #996633 !important;
    background-color: #f4f4f4;
}

.tabs .tab a {
    color: #aaaaaa !important;
}

.tabs .indicator {
    color: #996633 !important;
    background-color: #996633 !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #f4f4f4;
}

.panels {
    background-color: white;
}

table {
    font-size: 12pt;
}

table#karmaLeaderboard td {
    height: 55px;
    display: inline-flex;
    margin:0;
    padding: 0;
    padding-top: 15px;
}

table#karmaLeaderboard td:nth-child(1) {  
    width: 10%;
}

table#karmaLeaderboard td:nth-child(2) {  
    width: 50%;
}

table#karmaLeaderboard td:nth-child(3) {  
    width: 40%;
}

table#latestPurchases td {
    height: 55px;
    display: inline-flex;
    width: 80%;
    margin:0;
    padding: 0;
    padding-top: 16px;
}

table#latestPurchases td:nth-child(2) {
    width: 20%;
}

div#karma-html .row {
    margin-bottom: 0;
}

table#topLeaderboard td {
    height: 55px;
    display: inline-flex;
    margin:0;
    padding: 0;
    padding-top: 15px;
}

table#topLeaderboard td:nth-child(1) {  
    width: 10%;
}

table#topLeaderboard td:nth-child(2) {  
    width: 40%;
}

table#topLeaderboard td:nth-child(3) {  
    width: 20%;
}

table#topLeaderboard td:nth-child(4) {  
    width: 15%;
}

table#topLeaderboard td:nth-child(5) {  
    width: 15%;
}

table#top_traitor td:nth-child(1) {  
    width: 10%;
}

table#top_traitor td:nth-child(2) {  
    width: 30%;
}

table#top_traitor td:nth-child(3) {  
    width: 30%;
}

table#top_traitor td:nth-child(4) {  
    width: 30%;
}

.tabs-content.carousel.carousel-slider {
    height: 800px !important;
}